extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Resend Account Activation Email
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Enter your email address below and we will re-send you an activation Email.
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Re-Send Account  Activation Email
